footer {
    margin-top: 500px;
    display: flex;
    grid-column: span 16;
    background-color: rgb(87, 111, 199);
    justify-content: center;
    border-radius: 15em;
    
}

#foot a {
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 32px;
}