<!-- 
<aside>
    <h3>Function Menu</h3>
        <div class="div"><button>Print Task</button></div>
        <div class="div"><button>Print List</button></div>
        <div class="div"><button>Edit Task</button></div>
        <div class="div"><button>Reset Form</button></div>
</aside>

    <div class="sidenav">
        <ul id="navUl">+ Add Task</ul><br>
        <ul id="navUl">+ Add Task</ul><br>
        <ul id="navUl">+ Add Task</ul><br>
        <ul id="navUl">+ Add Task</ul><br>
 

    </div> -->

   