
<aside>
    <h3>Navigation Menu</h3>
    <ul>
        <ul>To Do List</ul>
       <br>
        <ul>To Do Item</ul>
        <br>
        <ul>Finished List</ul>
        <br>
        <ul>Finished Item</ul>
        
    </ul>
</aside>
    <!-- First Div is Navigation column -->
    <!-- <div class="sidenav">
        <ul id="navUl">+ Add Task</ul><br>
        <ul id="navUl">+ Add Task</ul><br>
        <ul id="navUl">+ Add Task</ul><br>
        <ul id="navUl">+ Add Task</ul><br>
 

    </div> -->

    