section {
    
    grid-row: span 2;
    background-color: rgb(128, 168, 206);
    border-radius: 8px;
    padding: 0px;
    width: 320px;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
    border: solid 1px black;
    margin-top: 3em;
    text-align: left;
    display:grid;
    position: right;
    
}
.section1 {
    display: inline-block;
}

section ul li:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

div {
    margin-top: 12px;
}
