<main>
<form [formGroup]="registrationFormForm" class="registrationForm">

    <h4>Descriptive Text here:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum corporis dolorem possimus atque dolor, sequi facere ipsam quae, at voluptates nihil quia amet quod in reprehenderit, mollitia dolorum maiores eligendi.</h4>

        <H3>COMING SOON</H3>
        <!-- BROKEN NEED TO FIX -->
        <!-- <label for="task priority">task priority</label>
            <input [(ngModel)]="newTask.priority"> -->
        <div>
        <label for="firstName">First Name</label>
        <input [(ngModel)]="newTask.firstName" 
                type="text" formControlName="firstName" 
                class="formLabel" 
                name="firstName" 
                id="firstName" 
                placeholder="Please enter First Name" 
                #firstName>
    <!-- <p class="invalid" *ngIf="newTask.firstName!.invalid && (newTask.firstName!.touched || newTask.firstName!.dirty)">
        <span *ngIf ="newTask.firstName!.errors?.['required']">Input is required</span>
        <span *ngIf ="newTask.firstName!.errors?.['minlength'] || newTask.firstName!.errors?.['maxlength']">First name must be between 3 and 20 characters</span>
    </p> -->
    </div>    
    <div>
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="newTask.lastName" 
                type="text" 
                class="formLabel" 
                formControlName="lastName" 
                name="lastName" 
                id="lastName" 
                placeholder="Please enter Last Name" 
                #lastName>
        <!-- <p class="invalid" *ngIf="lastName!.invalid && (lastName!.touched || lastName!.dirty)">
            <span *ngIf ="lastName!.errors?.['required']">Input is required</span>
            <span *ngIf ="lastName!.errors?.['minlength'] || lastName!.errors?.['maxlength']">First name must be between 3 and 20 characters</span>
        </p> -->
    </div>  
    <div>
        <label for="taskTitle">Task Title</label>
        <input [(ngModel)]="newTask.taskTitle" 
                type="text" 
                formControlName="taskTitle" 
                class="formLabel" 
                name="taskTitle" 
                id="taskTitle" 
                placeholder="Please enter name of task" 
                #taskTitle>
    <!-- <p class="invalid" *ngIf="taskTitle!.invalid && (taskTitle!.touched || taskTitle!.dirty)">
        <span *ngIf ="taskTitle!.errors?.['required']">Input is required</span>
        <span *ngIf ="taskTitle!.errors?.['minlength'] || taskTitle!.errors?.['maxlength']">Title must be between 3 and 20 characters</span> -->
    </div>    
    <div>
        <label for="email">Email</label>
        <input [(ngModel)]="newTask.email" 
                type="text" 
                formControlName="email" 
                class="formLabel" 
                name="email" 
                id="email" 
                placeholder="Please enter email address" 
                #email>
    <!-- <p class="invalid" *ngIf="email!.invalid && (email!.touched || email!.dirty)">
         <span *ngIf ="email.errors?.['required']">Input is required</span> -->
    <!-- <span *ngIf ="email!.errors?.['minlength'] || email!.errors?.['maxlength']">Title must be between 3 and 20 characters</span> --> 
    </div>    
    <div>
        <label for="taskPriority">Task Priority</label>
        <input [(ngModel)]="newTask.taskPriority" 
                type="text" 
                formControlName="taskPriority" 
                class="formLabel" 
                name="taskPriority" 
                id="taskPriority" 
                placeholder="Please enter priority of task" 
                #taskPriority>
    <!-- <p class="invalid" *ngIf="taskPriority!.invalid && (taskPriority!.touched || taskPriority!.dirty)">
        <span *ngIf ="taskPriority!.errors?.['required']">Input is required</span>
        <span *ngIf ="taskPriority!.errors?.['minlength'] || taskPriority!.errors?.['maxlength']">Title must be between 3 and 20 characters</span> -->
    </div>
    <div>
        <label for="dueDate">Task Due Date</label>
        <input [(ngModel)]="newTask.dueDate" 
                type="text" 
                formControlName="dueDate" 
                class="formLabel" 
                name="dueDate" 
                id="dueDate" 
                placeholder="Please enter due date" 
                #dueDate>
    <!-- <p class="invalid" *ngIf="dueDate!.invalid && (dueDate!.touched || dueDate!.dirty)">
        <span *ngIf ="dueDate!.errors?.['required']">Input is required</span>
        <span *ngIf ="dueDate!.errors?.['minlength'] || dueDate!.errors?.['maxlength']">Title must be between 3 and 20 characters</span> -->
    </div>
    <div>
        <label for="toDo">To Do</label>
        <input [(ngModel)]="newTask.toDo" 
                type="text" 
                formControlName="todo" 
                class="formLabel" 
                name="todo" 
                id="todo" 
                placeholder="Add task to todo" 
                #toDo>
    <!-- <p class="invalid" *ngIf="todo!.invalid && (todo!.touched || todo!.dirty)">
        <span *ngIf ="todo!.errors?.['required']">Input is required</span>
        <span *ngIf ="todo!.errors?.['minlength'] || todo!.errors?.['maxlength']">Title must be between 3 and 20 characters</span> -->
    </div>
        <br><br><br><button type="submit" (click)="onSubmit()" [disabled]="registrationFormForm.invalid" class="submitButton">REGISTER</button>
    <div>
        <h3>Data From Form</h3>
        <p>First Name: {{ regformTest.firstName }}</p>
        <p>Last Name: {{ regformTest.lastName }}</p>
        <p>E-Mail: {{ regformTest.email }}</p>
        <p>Password: {{ regformTest.taskTitle }}</p>
        <p>Confirm Password: {{ regformTest.taskPriority}}</p>
    </div>
    <div>
        
    </div>
    <br><br><br><br>
    <table>
    <thead>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>taskTitle</th>
            <th>email</th>
            <th>taskPriority</th>
            <th>dueDate</th>
            <th>toDo</th>
        </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let task of task">
        <tr>
            <td>{{task.firstName}}</td>
            <td>{{task.lastName}}</td>
            <td>{{task.taskTitle}}</td>
            <td>{{task.email}}</td>
            <td>{{task.taskPriority}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.toDo}}</td>
        </tr>
    </ng-container></tbody>
    </table>
</form>

</main>