<form>

    <h3>adding people to table</h3>
    <div>
        <H3>COMING SOON</H3>
        <!-- BROKEN NEED TO FIX -->
        <!-- <label for="task priority">task priority</label>
            <input [(ngModel)]="newTask.priority"> -->
    </div>
    <button>Enter</button>
</form>
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Priority</th>
        <th>dueDate</th>
    </tr>
    </thead>
    <tbody>
        <!-- <ng-container *ngFor="let task of list"> -->
    <tr>
        <!-- <td>{{task.priority}}</td> -->
    </tr>
<!-- </ng-container> -->
</table>