.div {
    
    background-color: lightsalmon;
    max-width: 1000px;
    align-content:flex-end;
    border-radius: 8px;
    padding: 40px;
    width: 800px;
    height: 100px;
    margin-top: 50px;
    margin-left: 240px;
    border: solid 1px black;
    float: left;
    
}
.table {
    padding: 12px, 24px;
   
}
