
<main>
<form #taskCreationForm>
<div id="div" >

<article>
    <section>
        <div>
            <label for="firstName">F Name: </label>
            <input [(ngModel)]="firstName" id="firstName" name="firstName" type="text" placeholder="Enter First Name...">
            <label for="lastName">Last Name: </label>
            <input [(ngModel)]="lastName" id="lastName" name="lastName" type="text" placeholder="Enter Last Name...">
            <label for="taskTitle">Task Title: </label>
            <input [(ngModel)]="taskTitle" id="taskTitle" name="taskTitle" type="text" placeholder="Enter Task Title...">
        </div>
        <br>
        <div>
            <label for="email">Email: </label>
            <input [(ngModel)]="email" id="email" name="email" type="text" placeholder="Enter email address...">
            <label for="taskPriority">Task Priority: </label>
            <input [(ngModel)]="taskPriority" id="taskPriority" name="taskPriority" type="text" placeholder="Enter taskPriority...">
            <label for="dueDate">Due Date: </label>
            <input [(ngModel)]="dueDate" id="dueDate" name="dueDate" type="text" placeholder="Enter due date...">
            </div>  
            <br>
        <div>
            <label for="toDo">To Do: </label>
            <input [(ngModel)]="toDo" id="toDo" name="toDo" type="text" placeholder="Enter Yes or No...">
        </div><br><br><br>
        <div><button (click)="addTask(); taskCreationForm.reset()">Submit</button></div>
        <div><button (click)="removeTask()">Remove Task</button></div>
        <div><button (click)="addtaskTitleUsingModel">create new task</button></div>
        </section>
</article>

</div>

<div>
    <ng-container *ngFor="let task of list; let i = index;">
        <app-task [task]="task"
                            (updateTaskTitleEvent)="updateTitle($event, i)"
                            (updateTaskViaIdEvent)="updateTaskViaId($event)"></app-task>
     </ng-container>
     <app-fin-list></app-fin-list>
</div>
<section>
    
</section>
</form>

</main>
