<section>
    <h3>{{tasker.firstName}}</h3>
    <h3>{{tasker.lastName}}</h3>
    <h3>{{tasker.taskTitle}}</h3>
    <h3>{{tasker.email}}</h3>
    <h3>{{tasker.taskPriority}}</h3>
    <h3>{{tasker.dueDate}}</h3>
    <h3>{{tasker.toDo}}</h3>
</section>



<!-- <form>
    <label for="Complete Task"></label>
    <input [(ngModel)]="changeFName" type="text" id="changeFName" name="changeFName" placeholder="Update First Name...">
    <button (click)="changeFName('')">Complete</button>
</form>

<form>
    <label for="newTaskViaId">removeTask: </label>
    <input [(ngModel)]="newTaskViaId" type="text" id="newTaskViaId" name="newSignViaId" placeholder="Update sign via ID...">
    <button (click)="updateTaskViaId()">UPDATE SIGN VIA ID</button>
</form> -->