<section>
    <title>Home</title>
<h4>
    Welcome to TaskMaster! This is your personal, one-stop application for managing and organizing daily tasks.  It's an easy-to-use productivity tool that provides everything you'll need.  All under one roof!
</h4>

<h4>
    With Task Master, organizing your life and managing your daily projects can be as simple as a click of a button.  Using its intuitive design and powerful features, Task Master can help you run your life like a pro and never forget a thing. 
</h4>

<h4>
    Organize your to-do's.  Set priorities using color tags.  Boost your productive capacity by assigning notes and reminders to unique tasks.  Set due dates to keep track of your progress.  Wherever you are, you can take your to-do list with you.  Access Task Master on your mobile, laptop, and tablet!  Everything is always in-sync across all your devices so you're always in control.  
</h4>


    <img src="../../assets/images/img.jpg" alt="Hands using laptop" width="800px" height="600px" >
    


</section>
