main {
    padding: 24px;
}
section {
    text-align: justify;
    padding-left: 40px;
    
}
h4{
    margin-bottom: .5em;
    margin-left: 20px;
    
}

p {
    margin-bottom: 1em;
}

styledimg{
    background-image: url ("C:\Users\lamar\OneDrive\Desktop\Todo_Laptop_img.jpg");
    width: 10px;
    height: 20px;
}