<section>
<h4>
    Welcome to TaskMaster! This is your personal, one-stop application for managing and organizing daily tasks.  It's an easy-to-use productivity tool that provides everything you'll need.  All under one roof!
</h4>

<h2>HTML Image</h2>
    <p><img src="C:\Users\RSPEN\WebWorkspace\Week10\angular-project2\image\img.jpg" alt="Hands using laptop" width="500px" height="600px"></p>
    
<h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cumque impedit, quo nihil laudantium qui eius rem sequi non nesciunt, adipisci fuga molestias aperiam voluptatum. Natus ipsum eligendi deleniti harum?
</h4>

<h4>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur vitae tenetur itaque ullam quidem natus minima, fugit odio veritatis laborum maiores iusto sed id aliquam, corrupti officiis temporibus molestiae. Accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus cumque impedit, quo nihil laudantium qui eius rem sequi non nesciunt, adipisci fuga molestias aperiam voluptatum. Natus ipsum eligendi deleniti harum?
</h4>
</section>
